<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
</head>
<body class="d-flex flex-column">
  <div class="page">
    <%- include('./partials/navbar') %>

    <!-- Page Content -->
    <div class="page-body">
      <div class="container-xl">
        <%- body %>
      </div>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer') %>
  </div>

<%- include('./partials/scripts') %>
</body>
</html>
