<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
</head>

<body>
  <div class="page">
    <%- include("./partials/header") %>
    <%- include("./partials/navbar") %>

    <!-- Page Content -->
    <div class="page-body">
      <div class="container-xl">
        <%- body %>
      </div>
    </div>

    <!-- Footer -->
    <%- include("./partials/footer") %>
  </div>

  <%- include("./partials/scripts") %>
</body>

</html>